<div id="site-main-mobile-menu" class="site-main-mobile-menu">
        <div class="site-main-mobile-menu-inner">
            <div class="mobile-menu-header">
                <div class="mobile-menu-logo">
                    <a href="index.html"><img src="assets/images/logo/dark-logo.png" alt=""></a>
                </div>
                <div class="mobile-menu-close">
                    <button class="toggle">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-menu-content">
                <nav class="site-mobile-menu">
                    <ul>
                        <li class="has-children position-static">
                            <a href="/home"><span class="menu-text">Home</span></a>
                        </li>
                        <li class="has-children position-static">
                            <a href="/about"><span class="menu-text">About</span></a>
                        </li>
                        <li class="has-children position-static">
                            <a href="/services"><span class="menu-text">Services</span></a>
                        </li>
                        <li class="has-children position-static">
                            <a href="/courses"><span class="menu-text">Courses</span></a>
                        </li>
                        <li class="has-children position-static">
                            <a href="/hometutorial"><span class="menu-text">Home Tutoring</span></a>
                        </li>
                          <li class="has-children position-static">
                            <a href="/faq"><span class="menu-text">FAQ</span></a>
                        </li>
                        <li class="has-children position-static">
                            <a href="/becometutor"><span class="menu-text">Become a Tutor</span></a>
                        </li>
                        
                      
                         
                    </ul>
                </nav>
            </div>
        </div>
    </div>