<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Start Here - MaxCoach</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/uploads/assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome-pro.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-gilroy.css"> -->

    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/css/plugins/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe-default-skin.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css"> -->

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/uploads/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/style.css">

</head>

<body>

    <div id="page">
        <!-- Header Section Start -->
        <%- include ('./partials/navbar') %>
        <!-- Header Section End -->

      


     
        <!-- Faq Section Start -->
        <div class="faq-section section section-padding">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title text-center" data-aos="fade-up">
                    <span class="sub-title secondary-color">Join Frontline for your next success</span>
                    <h2 class="title heading-color">Best chances for expanding your <br> success to the max</h2>
                </div>
                <!-- Section Title End -->
                <div class="row">
                    <!-- Start Single Accordion -->
                    <div class="col-lg-6">
                        <div class="mx-accordion max-mb-n30 mb-sm-30 mb-xs-30" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <a href="#" class="acc-btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What time of the year do you conduct tutor led British curriculum training?

                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body"  > Frontline conduct training by February, April, August and December, contact us to get a price list, brochure for details, book your slot and confirm exact dates. The brochure contains all you need to know about British curriculum training.

                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a href="#" class="acc-btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                           
                                            What is the duration of British curriculum training?


                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body"> The training lasts for 3 days
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <a href="#" class="acc-btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I make payments for any of your services?
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">You can pay using your mastercard, VISA card or bank transfer via paystack



                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Single Accordion -->

                    <!-- Start Single Accordion -->
                    <div class="col-lg-6">
                        <div class="mx-accordion max-mb-n30" id="accordionExample2">
                            <div class="card">
                                <div class="card-header" id="headingfour">
                                    <h5 class="mb-0">
                                        <a href="#" class="acc-btn" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                            How does the self study courses work?

                                        </a>
                                    </h5>
                                </div>

                                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample2">
                                    <div class="card-body">The courses involve a combination of texts and recorded video lessons. The link will be sent immediately once we receive payment notification via mail.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingfive">
                                    <h5 class="mb-0">
                                        <a href="#" class="acc-btn collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                            Will certificate be available

                                        </a>
                                    </h5>
                                </div>
                                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample2">
                                    <div class="card-body">Yes, it would be availal after the course.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingsix">
                                    <h5 class="mb-0">
                                        <a href="#" class="acc-btn collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                            How do I make enquiries and complaints
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample2">
                                    <div class="card-body">
                                            For enquiries or complaints:
                                            contact support@frontlinelearningcentre@gmail.com
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Single Accordion -->
                </div>
            </div>
        </div>
        <!-- Faq Section End -->

          <!-- Testimonial Section Start -->
          <div class="section section-padding fix" style="margin-top:-8%">
                <div class="container">
    
                    <!-- Section Title Start -->
                    <div class="section-title text-center" data-aos="fade-up">
                        <span class="sub-title">equip yourself with the power of education</span>
                        <h2 class="title">Learn the secrets to <span>Life Success</span>, <br class="d-none d-md-block">these people have got the key.​</h2>
                    </div>
                    <!-- Section Title End -->
    
                    <!--Testimonial Slider Start -->
                    <div class="testimonial-slider swiper-container" data-aos="fade-up">
                        <div class="swiper-wrapper">
    
                            <div class="swiper-slide max-mb-30">
                                <div class="testimonial-two">
                                    <div class="author-info">
                                        <div class="image">
                                            <img src="/uploads/assets/images/testimonial/jeniffer.jpg" alt="">
                                        </div>
                                        <div class="cite">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h6 class="name">Jennifer Nnaeto</h6>
                                            <span class="position">/ School owner, Crystal Hill Montessori International school Abidjan</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>I am so glad I was part of your trainee. Every training section was out of this world.May God continue to bless Frontline learning center.
                                        </p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="swiper-slide max-mb-30">
                                <div class="testimonial-two">
                                    <div class="author-info">
                                        <div class="image">
                                            <img src="/uploads/assets/images/testimonial/anita.jpg" alt="">
                                        </div>
                                        <div class="cite">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h6 class="name">Edet Anita-Olubayo</h6>
                                            <span class="position">/ Early Years Teacher, Pearls Garden School, Ejigbo Lagos</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>The training was enlightening. It has taught me as a teacher to be intentional at my approach to teaching. I've also learnt planning and orderliness.
                                        </p>
                                    </div>
                                </div>
                            </div>
    
                          
    
                            <div class="swiper-slide max-mb-30">
                                <div class="testimonial-two">
                                    <div class="author-info">
                                        <div class="image">
                                            <img src="/uploads/assets/images/testimonial/evi.jpg" alt="">
                                        </div>
                                        <div class="cite">
                                            <div class="testimonial-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <h6 class="name">Evi Nwaloka </h6>
                                            <span class="position">/ Mathematics teacher, Pearls Garden School, Ejigbo Lagos</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>The complete training package was mind blowing. I could feel figurative scales fall off my eyes.  I was wowed at the explanation of the core skills. It was a good lecture. I need to improve on my creativity in class and differentiate my learners so as to achieve maximum success.</p>
                                    </div>
                                </div>
                            </div>
    
                        </div><br>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!--Testimonial Slider End -->
    
                </div>
            </div>
        <!-- Testimonial Section End -->


        <%- include ('./partials/footer') %>

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>

   <%- include ('./partials/mobileMenu') %>

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/uploads/assets/js/vendor/vendor.min.js"></script>
    <script src="/uploads/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/uploads/assets/js/main.js"></script>





</body>

</html>