<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/uploads/assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome-pro.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-gilroy.css"> -->

    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/css/plugins/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe-default-skin.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css"> -->

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/uploads/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/uploads/assets/css/style.min.css">

</head>

<body>

    <div id="page">
        <!-- Header Section Start -->
        <%- include('./partials/navbar'); %>
        <!-- Header Section End -->

        <!-- Page Title Section Start -->
        <div class="page-title-section section section-padding-top-0" data-bg-color="">
            <div class="page-breadcrumb position-static">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Our services</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

             <!-- Funfact Section Start -->
             <div class="funfact-section section section-padding-bottom" data-bg-color="">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-content mb-sm-50 mb-xs-50">
                                    <span class="sub-title">Everything is <strong>Frontline</strong></span>
                                    <h2 class="title">Maximizing Your Potentials with <span>Frontline </span> </h2>
                                    <p>We love to inspire and guide you through any subject, develop new skills or upgrade your educational background. </p>
                                    <a class="link link-lg" href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class"> Have questions?​ <mark>Speak to us now! <i class="far fa-long-arrow-right"></i></mark></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row row-cols-sm-2 row-cols-1 max-mb-n60">
        
                                    <!-- Funfact Start -->
                                    <div class="col max-mb-60" data-aos="fade-up">
                                        <div class="funfact">
                                            <div class="number"><span class="counter">1,926</span></div>
                                            <h6 class="text">Finished Sessions</h6>
                                        </div>
                                    </div>
                                    <!-- Funfact End -->
        
                                    <!-- Funfact Start -->
                                    <div class="col max-mb-60" data-aos="fade-up">
                                        <div class="funfact">
                                            <div class="number"><span class="counter">10,092</span>+</div>
                                            <h6 class="text">Online Enrollment</h6>
                                        </div>
                                    </div>
                                    <!-- Funfact End -->
        
                                    <!-- Funfact Start -->
                                    <div class="col max-mb-60" data-aos="fade-up">
                                        <div class="funfact">
                                            <div class="number"><span class="counter">20</span>+</div>
                                            <h6 class="text">Subjects Taught</h6>
                                        </div>
                                    </div>
                                    <!-- Funfact End -->
        
                                    <!-- Funfact Start -->
                                    <div class="col max-mb-60" data-aos="fade-up">
                                        <div class="funfact">
                                            <div class="number"><span class="counter">100</span>%</div>
                                            <h6 class="text">Satisfaction rate</h6>
                                        </div>
                                    </div>
                                    <!-- Funfact End -->
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Funfact Section End -->


         <!-- Learners Section Start -->
         <div class="learners-section section section-padding" style="margin-top: -5%" >
                <div class="container">
                    <!-- Section Title Start -->
                    <div class="section-title text-center" data-aos="fade-up">
                        <span class="sub-title">Learn at your Pace</span>
                        <h2 class="title">Enjoyable <span>Benefits</span> For Our Learners.</h2>
                    </div>
                    <!-- Section Title End -->
    
                    <!-- Feature Wrapper Start -->
                    <div class="row row-cols-xl-3 row-cols-sm-2 row-cols-1 max-mb-n30">
    
                        <!-- Feature Start (Icon Box) -->
                        <div class="col max-mb-30" data-aos="fade-up">
                            <a href="/courses" class="icon-box text-center">
                                <div class="icon">
                                    <img src="/uploads/assets/images/learner/learner-01.png" alt="">
                                </div>
                                <div class="content">
                                    <h3 class="title fz-20">British Curriculum training</h3>
                                    <div class="desc">
                                        <p>Our team comprises certified experts in EYFS (Early years’ foundation stage), Checkpoint and IGCSE experts. We give guaranteed strategies for Blending Nigerian and British curricula.
                                                </p>
                                    </div>
                                    <!-- <span class="link">Start here <i class="far fa-long-arrow-right"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <!-- Feature Start (Icon Box) -->
    
                        <!-- Feature Start (Icon Box) -->
                        <div class="col max-mb-30" data-aos="fade-up">
                            <a href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class" class="icon-box text-center">
                                <div class="icon">
                                    <img src="/uploads/assets/images/learner/learner-02.png" alt="">
                                </div>
                                <div class="content">
                                    <h3 class="title fz-20">In house training for teachers
                                        </h3>
                                    <div class="desc">
                                        <p>
                                                We offer this service on request. 

                                                Our training equip teachers with. best practices in the profession.
                                                
                                                Training covers range of topics like: Work culture/ethics, Productivity, British curriculum training, team building, safeguarding, assessment for learning etc.
                                        </p>
                                           
 </div>
                                    <!-- <span class="link">Start here <i class="far fa-long-arrow-right"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <!-- Feature Start (Icon Box) -->
    
                        <!-- Feature Start (Icon Box) -->
                        <div class="col max-mb-30" data-aos="fade-up">
                            <a href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class" class="icon-box text-center">
                                <div class="icon">
                                    <img src="/uploads/assets/images/learner/learner-03.png" alt="">
                                </div>
                                <div class="content">
                                    <h3 class="title fz-20">School growth consulting</h3>
                                    <div class="desc">
                                        <p>We offer general consulting services that help in building a leading school. We achieve this by engaging certain principles which are proven to produce predictable results
                                        </p>
                                    </div>
                                    <!-- <span class="link">Start here <i class="far fa-long-arrow-right"></i></span> -->
                                </div>
                            </a>
                        </div>
                        <!-- Feature Start (Icon Box) -->


                         <!-- Feature Start (Icon Box) -->
                         <div class="col max-mb-30" data-aos="fade-up">
                                <a href="https://wa.me/2347056558446?text=Good%20day%20my%20name%20is%20__________________________%20I%20am%20interested%20in%20the%20class" class="icon-box text-center">
                                    <div class="icon">
                                        <img src="/uploads/assets/images/learner/learner-01.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title fz-20">Personal coaching session</h3>
                                        <div class="desc">
                                            <p>At Frontline Learning Center, we offer transformational personal coaching session. You can contact the lead trainer to book a session by visiting the link below</p>
                                        </div>
                                        <!-- <span class="link">Start here <i class="far fa-long-arrow-right"></i></span> -->
                                    </div>
                                </a>
                            </div>
                            <!-- Feature Start (Icon Box) -->

                              <!-- Feature Start (Icon Box) -->
                         <div class="col max-mb-30" data-aos="fade-up">
                                <a href="/hometutoring" class="icon-box text-center">
                                    <div class="icon">
                                        <img src="/uploads/assets/images/learner/learner-03.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title fz-20">Home Private Tutoring</h3>
                                        <div class="desc">
                                            <p>We provide study materials with various formats: video, audio, slides, doc, prints, books and applications.</p>
                                        </div>
                                        <!-- <span class="link">Start here <i class="far fa-long-arrow-right"></i></span> -->
                                    </div>
                                </a>
                            </div>
                            <!-- Feature Start (Icon Box) -->


                              <!-- Feature Start (Icon Box) -->
                         <div class="col max-mb-30" data-aos="fade-up">
                                <a href="/hometutoring" class="icon-box text-center">
                                    <div class="icon">
                                        <img src="/uploads/assets/images/learner/learner-02.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h3 class="title fz-20">Online Private Tutoring</h3>
                                        <div class="desc">
                                            <p>We provide study materials with various formats: video, audio, slides, doc, prints, books and applications.</p>
                                        </div>
                                        <!-- <span class="link">Start here <i class="far fa-long-arrow-right"></i></span> -->
                                    </div>
                                </a>
                            </div>
                            <!-- Feature Start (Icon Box) -->
    
                    </div>
                    <!-- Feature Wrapper End -->
                </div>
            </div>
            <!-- Learners Section End -->


               <!-- CTA Section Start -->
        <div class="cta-section section section-padding-bottom" data-bg-color="">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cta-content text-center">
                            <span class="sub-title">Start today for getting <span>Online Certification</span></span>
                            <h2 class="title">You can be your own guiding star with our help!</h2>
                            <a href="/courses" class="btn btn-primary btn-hover-secondary btn-width-300"> Enrol for a course now</a>

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 1</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/cta-shape-01.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="/uploads/assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Section End -->

        <section><br><br>
            <div class="container">
                <center><h4 class="text-center" style="width:60%;color:#3F3A64" >We have received thank you notes from our clients over the years, some of these clients are</h4></center>
            </div>
        </section>
       

      
        <!-- Brand Section Start -->
        <div class="brand-section section section-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-wrapper">
                            <div class="brand-list">
                                <div class="brand-carousel swiper-container" data-aos="fade-up">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide brand brand-colored">
                                            <a href="#">
                                                <img src="/uploads/assets/images/partners/graceland.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand brand-colored">
                                            <a href="#">
                                                <img src="/uploads/assets/images/partners/premaf.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand brand-colored">
                                            <a href="#">
                                                <img src="/uploads/assets/images/partners/white.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand brand-colored">
                                            <a href="#">
                                                <img src="/uploads/assets/images/partners/noriyaf.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand brand-colored">
                                            <a href="#">
                                                <img src="/uploads/assets/images/partners/ayo.png" alt="logo image">
                                            </a>
                                        </div>

                                        <div class="swiper-slide brand brand-colored">
                                            <a href="#">
                                                <img src="/uploads/assets/images/partners/lighthouse.png" alt="logo image">
                                            </a>
                                        </div>

                                        

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Section End -->

      

       


        <%- include('./partials/footer'); %>

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>

    <%- include('./partials/mobileMenu'); %>

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/uploads/assets/js/vendor/vendor.min.js"></script>
    <script src="/uploads/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="/uploads/assets/js/main.js"></script>





</body>

</html>